<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
    
        <!-- Enable Windows Authentication -->
        <authentication mode="Windows" />
        
        <!-- Deny anonymous users by default -->
        <authorization>
            <allow users="*" />
            <!-- <deny users="?" /> Uncomment to require authentication for all pages -->
        </authorization>

        <!-- Custom error pages -->
        <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
            <error statusCode="403" redirect="~/AccessDenied.aspx" />
            <error statusCode="404" redirect="~/PageNotFound.aspx" />
        </customErrors>
    </system.web>

    <!-- Location specific configuration for the Secure page -->
    <location path="Secure.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

</configuration>
